/*Background general*/


/*Media Queries*/

@media screen and (max-width: 768px) {

    .presentation {
        @include flex (row, center, center, 2rem);
        padding: 0 map-get($spacings, medium);


        &__picture {
            flex-grow: 1;
            width: 100%;
        }

        &__description {
            text-align: center;
            flex-grow: 1;
            order: -1;

        }
    }

}