/*Background general*/

.img-1 {
    background: linear-gradient(to left bottom, #020873 50%, #610073, #94006e, #bb1665, #d9415d);
    background-position: center;
    background-size: contain;
}



/*Media Queries*/

@media screen and (max-width: 768px) {

    .presentation {
        @include flex (row, center, center, 2rem);
        padding: 0 map-get($spacings, medium);


        &__picture {
            flex-grow: 1;
            width: 100%;
        }

        &__description {
            text-align: center;
            flex-grow: 1;
            order: -1;

        }
    }

}