/*Main Section*/


.presentation {
    @include flex (row, space-between, center, 2rem);

    &__picture {
        min-width: 320px;
    }

    &__img {
        width: 100%;
    }

    &__description {
        color: $secondary;
    }

    &__container {
        p {
            font-size: map-get($sizes, display);
        }

        h1 {
            font-size: map-get($sizes, jumbo);
        }
    }

}