/*VARIABLES*/
/* variables */
main {
  background-color: #ffffff; }
  maincontainer {
    max-height: 100%; }

.background {
  background: linear-gradient(to left bottom, #020873 50%, #610073, #94006e, #bb1665, #d9415d);
  background-position: center;
  background-size: contain; }

p {
  color: #020873; }

a {
  color: #d9415d; }

h1 {
  color: #d9415d; }

/*GLOBALES*/
/*import*/
/* Normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Helpers*/
/*PARTIALS*/
/*Header & nav*/
.active {
  color: #d9415d;
  border-bottom: 1rem;
  transition: all .3s ease-in-out; }
  .active:hover {
    color: #020873; }

/*Footer*/
footer {
  min-height: 15vh;
  text-align: center;
  border-top: 1px solid rgba(50, 50, 50, 0.3);
  width: 100%;
  bottom: 0; }

/*VIEWS*/
