/*VARIABLES*/
/* variables */
/*GLOBALES*/
/*Helpers*/
.sp-xlarge {
  padding: 5rem; }

.sp-large {
  padding: 3rem; }

.sp-medium {
  padding: 2rem; }

.sp-small {
  padding: 1.5rem; }

.sp-xsmall {
  padding: 1rem; }

/*import*/
/* Normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  position: relative;
  padding-bottom: 6rem;
  background-color: #f8f9fa; }

main {
  max-height: 100%;
  font-family: inherit;
  margin-top: 1rem;
  background: linear-gradient(to left bottom, #020873 50%, #610073, #94006e, #bb1665, #d9415d);
  background-position: center;
  background-size: contain; }

/*font colors*/
a {
  text-decoration: underline;
  color: aliceblue;
  display: inline-block; }
  a:hover {
    color: #d9415d !important; }

p {
  color: #d9415d;
  font-size: small; }

h1 {
  font-size: large; }

h2 {
  color: #020873; }

h3 {
  color: #d9415d; }

h4,
h5 {
  color: aliceblue; }

ul, li {
  color: black;
  justify-content: center; }

/*Buttons*/
.btn {
  background-color: #020873;
  color: #d9415d;
  border-style: dotted;
  padding: 1rem 1.5rem;
  width: 200px; }

.btn-wsp {
  position: fixed;
  width: 25px;
  height: 60px;
  line-height: 45px;
  bottom: 12vh;
  right: 35px;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba 0, 0, 0, 0, 3;
  z-index: 100; }

.icon-whatsapp {
  background-image: url(assets/image/icons/whatsapp-redondo.png); }

/*PARTIALS*/
/*Header y Navbar*/
.nav-item {
  justify-content: center;
  align-items: center;
  text-align: center; }

.nav-link, .nav-link--active {
  font-size: 1em;
  padding: 1em; }
  .nav-link--active {
    background-color: #020873;
    transition: all 2s ease-out; }
    .nav-link--active :hover {
      color: #d9415d; }

/*Footer*/
footer {
  background-color: #f8f9fa;
  margin-top: 7rem;
  margin-bottom: 0.5rem;
  text-align: center;
  border-top: 1px solid rgba(50, 50, 50, 0.3);
  width: 100%;
  bottom: 0; }

/*VIEWS*/
/*Background general*/
/*Media Queries*/
@media screen and (max-width: 768px) {
  .presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem; }
    .presentation__picture {
      flex-grow: 1;
      width: 100%; }
    .presentation__description {
      text-align: center;
      flex-grow: 1;
      order: -1; } }
