/*import*/


/* Normalize */

$theme: 'light';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin: 0;
    position: relative;
    padding-bottom: 6rem;

    @if $theme=='dark' {
        background-color: $secondary;
    }

    @else if $theme=='light' {
        background-color: $light;
    }
}

main {
    max-height: 100%;
    font-family: inherit;
    margin-top: 1rem;
    background: linear-gradient(to left bottom, #020873 50%, #610073, #94006e, #bb1665, #d9415d);
    background-position: center;
    background-size: contain;
 

}


/*font colors*/

a {
    text-decoration: underline;
    color: aliceblue;
    display: inline-block;

    &:hover {
        color: $secondary !important;
    }
}

p {
    color: $secondary;
    font-size: small;
}

h1 {

    font-size:large;
}

h2 {
    color: $primary;
}

h3 {
    color: $secondary;
}

h4,
h5 {
    color: aliceblue;
}

ul,li {
    color:black;
    justify-content: center;
}

/*Buttons*/

.btn {
    @include button (large)
}

.btn-wsp {
    position: fixed;
    width: 25px;
    height: 60px;
    line-height: 45px;
    bottom: 12vh;
    right: 35px;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba (0, 0, 0, 0, 3);
    z-index: 100;
}

.icon-whatsapp {
    background-image: url(assets/image/icons/whatsapp-redondo.png);
    }