/*Footer*/

footer {
    background-color: $light;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
    border-top: 1px solid rgba(50, 50, 50, 0.3);
    width: 100%;
    bottom: 0; 
}